<header ng-switch on="$location.path().indexOf('/Authors/new') > -1">
    <h3 ng-switch-when="true">Create a new Author</h3>
    <h3 ng-switch-when="false">View or edit Author</h3>
</header>
<form id="AuthorForm" name="AuthorForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': AuthorForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" requiredclass="form-control" ng-model="author.name" placeholder="Enter the Author Name"></input>
            <span class="help-block error" ng-show="AuthorForm.name.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AuthorForm.books.$invalid}">
        <label for="books" class="col-sm-2 control-label">Books</label>
        <div id="booksControls" class="col-sm-10">
            <select id="books" name="books" multiple class="form-control" ng-model="booksSelection" ng-options="b.text for b in booksSelectionList">
                <option value="">Choose a Books</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AuthorForm.dateOfBirth.$invalid}">
        <label for="dateOfBirth" class="col-sm-2 control-label">Date Of Birth</label>
        <div id="dateOfBirthControls" class="col-sm-10">
            <date id="dateOfBirth" name="dateOfBirth" ng-model="author.dateOfBirth" placeholder="Enter the Author Date Of Birth"></date>
            <span class="help-block error" ng-show="AuthorForm.dateOfBirth.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveAuthor" name="saveAuthor" class="btn btn-primary" ng-disabled="isClean() || AuthorForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteAuthor" name="deleteAuthor" class="btn btn-danger" ng-show="author.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>